// COLORS
// blue: 4499cd
// violet: 6f64ba
main = #272727;
mainHover = rgba(135, 116, 169, 0.42);
hover = darken(main, 50%)
mainLight = #6f64ba
sec  = #e0e0e0
lightGray = #F2F2F2
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem
